{% extends "base.html" %}

{% block header %}
    {% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">SimpleBlog</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active divider-vertical"><a href="/smallblog/bloglist/">home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>                
            </div>                
        </div>
    </div>       
    {% endblock %}    
{% endblock %}