{% extends "blog_base.html" %}

{% block title %} 发布文字 {% endblock %}   


{% block article %} 
{% if form.errors %}
    <div class="alert alert-error">
        Please correct the error {{ form.errors|pluralize }} below.
    </div>
{% endif %}

<form action="" method="post">
    {% csrf_token %} 
    <div class="field">
        {% if form.caption.errors %}
        <div class="alert alert-error">
            {{ form.caption.errors }}          
        </div>
        {% endif %}
        <label for="id_caption">Title: </label>
        {{ form.caption }}
    </div>
    <div class="field">
        {% if form.content.errors %}
        <div class="alert alert-error">
            {{ form.content.errors }}
        </div>
        {% endif %}        
        <label for="id_content">Content: </label>
        {{ form.content }}
    </div>
    <div class="field">
        <label for="id_tag">tags</label>
        {{ tag.tag_name }}
    </div>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="save and add">
        <button class="btn">cancle</button>
    </div>
</form>
{% endblock %}
