/*header*/
.nav .new-wrapper {
    position: relative;
    float: left;
}

i {
    display: inline-block;
    zoom: 1;
    vertical-align: text-top;
    background-image: url(../img/twitter_web_sprite_icons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.nav i {
    float: left;
    margin: -1px 6px 0 0;
}

.nav-home, .nav-topics, .nav-people, .nav-me, .nav-tweet {
    height: 22px;
}

.nav .active .nav-new{
    display: block;
}
.nav-new {
    background-position: -200px -80px;
    width: 24px;
    height: 3px;
}
.nav-home {
    background-position: 0 -50px;
    width: 21px;
}
a:hover .nav-home {
    background-position: 0 -80px;
}
.active .nav-home, 
.active a:hover .nav-home {
    background-position: 0 -110px;
}
.nav-people {
    background-position: -80px -50px;
    width: 21px;
}
a:hover .nav-people {
    background-position: -80px -80px;
}
.active .nav-people, 
.active a:hover .nav-people {
    background-position: -80px -110px;
}
.nav-me {
    background-position: -120px -50px;
    width: 21px;
}
a:hover .nav-me {
    background-position: -120px -80px;
}
.active .nav-me, 
.active a:hover .nav-me {
    background-position: -120px -110px;
}
.nav .nav-new {
    position: absolute;
    top: 26px;
    left: 50%;
    display: none;
    height: 3px;
    margin-left: -14px;
    line-height: 1;
    text-align: center;
}

.sbrand{
    position: absolute;
    top: 0;
    font-size: 20px;
    padding-top:10px; 
    left: 45%;
    color: #000;
    font-weight: bold;
}

.nav-session {
    background-position: -160px -50px;
    width: 20px;
    height: 21px;
}
.nav-tweet {
background-position: -200px -50px;
width: 22px;
height: 18px;
}

#myModal{
    display: none;
}

hr.soften {
    clear: both; 
    float: none; 
    width: 100%; 
    height: 1px;
    line-height: 1px;
    font-size: 0;
    border: none 0;
    margin: 5px 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(255,255,255)), color-stop(0.1, rgb(221,221,221)),color-stop(0.9, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
    background-image: -webkit-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
}

#cmt p{
    margin: 2px 0;
}

.none-padding{
    padding-left: 0;
}

.gravatar{
    width: 40px;
    height: 40px
}

h1, h2, h3, h4, h5, h6{
    margin: 5px 0;
}
#cmt h2{
    font-size: 16px;
    line-height: 20px;
}
.comtop{
    margin-top: 20px;
}
.post-info{
    padding: 0;
}
.blog-content{
    margin: 20px 0;
}
form fieldset label {
    width: 100px;
    margin: 4px 0 5px 0;
    font-weight: bold;
}
.alert-error{
    width: 65%;
}

form textarea{
    display: block;
    width: 95%;
    height: 400px;
    padding: 5px;
    font-size: 14px;
    resize: vertical;
}

/*add blog form*/
.field label{
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
}
.field input{
    width: 70%;
}
/* end add blog*/

.btn-tweet {
    padding: 3px 4px 5px 10px;
}

textarea.twitter{
    width: 512px;
    height: 64px;
    overflow: hidden;
    padding-bottom: 5px;
    resize: vertical;
}

.twitter-modal-header{
    border: none;
}
.twitter-modal-header h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.twitter-modal-body{
    padding: 0 15px;
}

.twitter-modal-footer{
    border: none;
    padding-top: 10px; 
}

textarea.comment{
    height: 160px;
    width: 70%;
}