hr.soften {
    clear: both; 
    float: none; 
    width: 100%; 
    height: 1px;
    line-height: 1px;
    font-size: 0;
    border: none 0;
    margin: 5px 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(255,255,255)), color-stop(0.1, rgb(221,221,221)),color-stop(0.9, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
    background-image: -webkit-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%);
}

#cmt p{
    margin: 2px 0;
}

.none-padding{
    padding-left: 0;
}

.gravatar{
    width: 40px;
    height: 40px
}

h1, h2, h3, h4, h5, h6{
    margin: 5px 0;
}
#cmt h2{
    font-size: 16px;
    line-height: 20px;
}
.comtop{
    margin-top: 20px;
}
.post-info{
    padding: 0;
}
.blog-content{
    margin: 20px 0;
}

form fieldset label {
    width: 20%;
    margin: 4px 0 5px 0;
    font-weight: bold;
    }

.alert-error{
    width: 70%;
}

#id_content{
    display: block;
    width: 70%;
    height: 400px;
    padding: 5px;
    font-size: 14px;
}